<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/93bb4d89-70ac-4a1d-a332-8cb8c6252870/resourcegroups/ChallengeSubmission20221208151133ResourceGroup/providers/Microsoft.Web/sites/ChallengeSubmission20221208151318</ResourceId>
    <ResourceGroup>ChallengeSubmission20221208151133ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://challengesubmission20221208151318.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2db53251-b1c2-4b61-8457-474b13a45349</ProjectGuid>
    <PublishUrl>https://challengesubmission20221208151318.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ChallengeSubmission20221208151318</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>